{{ 'custom.css' | asset_url | stylesheet_tag }}

<section class="home-try-at-home-section-container">
  <div class="page-width home-try-at-home-section">
    <div class="home-try-at-home-section-left">
      <h2 class="section-heading">{{ section.settings.heading }}</h2>
      <p>{{ section.settings.sub-heading }}</p>
      <div>
        <a href="{{section.settings.url-1}}">{{ section.settings.button-1 }}</a>
        <a href="{{section.settings.url-2}}">{{ section.settings.button-2 }}</a>
      </div>
    </div>
    <div class="home-try-at-home-section-right">
      <img src="{{ section.settings.image | img_url: 'medium' }}" alt="Try at Home">
    </div>
  </div>
</section>

<style>
  .home-try-at-home-section-container {
    background-color: #f4eeeb;
    padding: 60px 0;
  }
  .home-try-at-home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home-try-at-home-section-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 30px;
  }
  .home-try-at-home-section-left div {
    display: flex;
    gap: 20px;
  }
  .home-try-at-home-section-right {
    width: 30%;
  }
  .home-try-at-home-section-right img {
    width: 100%;
  }
  .home-try-at-home-section-left .section-heading {
    margin: 0;
  }
  .home-try-at-home-section-left a {
    border: solid 1px #610C27;
    background: transparent;
    text-decoration: none;
    color: #610C27;
    padding: 15px 30px;
    font-size: 1.5rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
  }
  .home-try-at-home-section-left a:hover {
    background: #610C27;
    color: white;
  }
  .home-try-at-home-section-left p {
    font-size: 2rem;
    margin: 0;
    width: 55%;
  }
</style>

{% schema %}
  {
    "name": "Home Try at Home",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading",
        "default": "Want to see designs personally?"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading",
        "default": "Get designs to try at home or schedule a video call"
      },
      {
        "type": "text",
        "id": "button-1",
        "label": "Button 1 Text",
        "default": "Try at Home"
      },
      {
        "type": "url",
        "id": "url-1",
        "label": "Button 1 URL"
      }, {
        "type": "text",
        "id": "button-2",
        "label": "Button 2 Text",
        "default": "Video Call"
      }, {
        "type": "url",
        "id": "url-2",
        "label": "Button 2 URL"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Home Try at Home",
        "category": "Custom"
      }
    ]
  }
{% endschema %}