<section class="page-width home-benefits-container-parent">
  <div class="section_heading_with_button">
    <h2 class="section-heading">{{ section.settings.heading }}</h2>
    <p>View All</p>
  </div>
  <div class="home-benefits-container">
    {% for block in section.blocks %}
      <div class="zinara-benefits-content" id="{{ block.id }}">
        <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.text }}">
        <p>{{ block.settings.text }}</p>
      </div>
    {% endfor %}
  </div>
</section>

<style>
  .home-benefits-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow-x: auto;
  }

  .zinara-benefits-content {
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .zinara-benefits-content img {
    width: 35%;
    height: auto;
    display: block;
    border-radius: 0;
  }

  .zinara-benefits-content p {
    margin: 10px 0 0;
    text-align: center;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 0;
  }
  .section_heading_with_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-benefits-container-parent {
    margin-top: 50px;
  }

  .section_heading_with_button p {
    color: #610c27;
    text-decoration: underline;
    cursor: pointer;
  }
</style>

{% schema %}
{
  "name": "Zinara Benefits",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Zinara Benefits"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Category Tab",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Occasion"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Zinara Benefits",
      "category": "Custom"
    }
  ]
}
{% endschema %}
