<div class="product-page-details-container">
  <h2 class="page-width section-heading">{{ section.settings.heading }}</h2>
  <div class="product-page-details-parent">
    <div class="page-width">
      {% for list_1 in product.metafields.content.product_details_list_1.value %}
        <div class="product-page-details-list-container">
          <p class="product-page-details-list_heading">{{ list_1.heading }}</p>
          {% for list-item_1 in list_1.product_details_item.value %}
            <div class="product-page-details-list-parent">
              <p class="product-page-details-list_title">{{ list-item_1.title }}</p>
              <p class="product-page-details-list_content">{{ list-item_1.content }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="page-width">
      {% for list in product.metafields.content.product_details_list.value %}
        <div class="product-page-details-list-container">
          <p class="product-page-details-list_heading">{{ list.heading }}</p>
          {% for list-item in list.product_details_item.value %}
            <div class="product-page-details-list-parent">
              <p class="product-page-details-list_title">{{ list-item.title }}</p>
              <p class="product-page-details-list_content">{{ list-item.content }}</p>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .product-page-details-container .section-heading {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
  }
  .product-page-details-container .page-width {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1%;
  }
  .product-page-details-container p {
    margin: 0;
    color: black;
    letter-spacing: 0;
  }
  .product-page-details-list-container {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    background: #f4eeeb;
    padding: 15px;
  }
  .product-page-details-list-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-page-details-list_heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px !important;
  }
  .product-page-details-list_title,
  .product-page-details-list_content {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.4rem;
  }
  .product-page-details-list_content {
    opacity: 0.6;
  }
</style>

{% schema %}
{
  "name": "Product Page Details",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Details"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Page Details"
    }
  ]
}
{% endschema %}
